body {
  font-family: Inria Sans, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  transition: background-color 0.5s;
}

main {
  margin: 5%;
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/*      POP UP         */
#popUp {
  display: none;
  visibility: hidden;
  opacity: 0;
  width: 50%;
  padding: 0% 3% 3%;
  position: absolute;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: 0.2rem solid #611f1f;
  border-radius: 0.5rem;
  top: 20%;
  left: 22%;
}

#imgPopUp {
  width: 20%;
}

#navPopUp {
  width: 100%;
  margin-top: 6%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.btnPopUp {
  color: black;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: background-color 0.3s, color 0.3s linear;
}
.btnPopUp:hover {
  box-shadow: 0.75rem 0.75rem 0.75rem rgba(0, 0, 0, 0.1), -0.625rem -0.625rem 0.625rem white;
}

#confirmarPopUp:hover {
  background-color: #75a32a;
  color: white;
}

#cancelarPopUp:hover {
  background-color: #611f1f;
  color: white;
}

/*     GERENCIAMENTO DO PERFIL      */
#perfilNav {
  width: 21%;
}

#usuarioTitle {
  display: flex;
  width: 90%;
  align-items: baseline;
}

#usuarioImg {
  width: 35%;
}

.perfilNavTabs {
  display: flex;
  align-items: center;
  width: 80%;
  height: 6dvh;
  padding-left: 2%;
  margin: 5% 0;
  border-left: white solid;
  user-select: none;
  cursor: pointer;
}

#perfil {
  width: 78%;
  padding: 0.5%;
}

#perfilInfoBox {
  display: none;
  align-items: normal;
  flex-wrap: wrap;
  visibility: hidden;
  opacity: 0;
  border: 0.2rem solid lightgrey;
  border-radius: 0.3rem;
  transition: visibility 0s, opacity 0.2s linear;
}

.perfilInfo {
  width: 45%;
  margin: 2%;
  font-size: large;
}

#campoEdicaoPerfil {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.btnsEdicaoPerfil {
  color: black;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: background-color 0.3s, color 0.3s linear;
}
.btnsEdicaoPerfil:hover {
  background-color: #75a32a;
  color: white;
}

#btnExcluirPerfil {
  margin: 1% 2% 2% 2%;
}
#btnExcluirPerfil:hover {
  background-color: #611f1f;
  color: white;
}

#perfilCupomBox {
  display: none;
  align-items: normal;
  visibility: hidden;
  opacity: 0;
  border: 0.2rem solid lightgrey;
  border-radius: 0.3rem;
  transition: visibility 0s, opacity 0.2s linear;
}

#appAd-box {
  display: flex;
  margin: auto;
  width: 100%;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#appDownload-box {
  margin: 5%;
  width: 10%;
}

footer {
  background: white;
  padding: 0.625rem;
  text-align: center;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 500px) {
  #popUp {
    width: 90%;
    top: 37%;
    left: 1%;
    font-size: large;
  }
  #senhaPopUp {
    min-height: 2rem;
    font-size: 1rem;
  }
  main {
    display: flex;
    justify-content: center;
  }
  #perfilNav {
    display: flex;
    width: 100%;
    justify-content: baseline;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 5%;
  }
  #usuarioTitle {
    width: 100%;
  }
  #usuarioImg {
    width: 20%;
  }
  .perfilNavTabs {
    margin: auto;
    width: 30%;
    font-size: large;
  }
  #perfilTitle {
    display: none;
  }
  #perfil {
    width: 100%;
    font-size: larger;
  }
  #campoEdicaoPerfil {
    width: 100%;
    justify-content: center;
    margin-top: 5%;
  }
  #perfilInfoBox {
    padding-right: 3%;
  }
  .perfilInfo > input {
    width: 100%;
    min-height: 1.5rem;
    font-size: 1rem;
  }
  #appDownload-box {
    width: 19%;
  }
}
@media screen and (min-width: 501px) and (max-width: 800px) {
  #popUp {
    width: 90%;
    top: 37%;
    left: 1%;
    font-size: large;
  }
  #senhaPopUp {
    min-height: 2rem;
    font-size: 1rem;
  }
  main {
    display: flex;
    justify-content: center;
  }
  #perfilNav {
    display: flex;
    width: 100%;
    justify-content: baseline;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 5%;
  }
  #usuarioTitle {
    width: 100%;
  }
  #usuarioImg {
    width: 15%;
  }
  .perfilNavTabs {
    margin: auto;
    width: 30%;
    font-size: large;
  }
  #perfilTitle {
    display: none;
  }
  #perfil {
    width: 100%;
    font-size: larger;
  }
  #campoEdicaoPerfil {
    width: 100%;
    justify-content: center;
    margin-top: 5%;
  }
  .perfilInfo > input {
    min-height: 2rem;
    font-size: 1rem;
  }
  #appDownload-box {
    width: 15%;
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  #popUp {
    width: 60%;
    top: 35%;
    left: 15%;
    font-size: large;
  }
  #senhaPopUp {
    min-height: 2rem;
    font-size: 1rem;
  }
  #perfilNav {
    width: 25%;
  }
  #perfil {
    width: 74%;
  }
  #usuarioTitle {
    width: 100%;
  }
  .perfilInfo > input {
    min-height: 1.5rem;
    font-size: 1rem;
  }
  #appDownload-box {
    width: 12%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1700px) {
  #senhaPopUp {
    min-height: 1.3rem;
    font-size: 1rem;
  }
  .perfilInfo > input {
    min-height: 1.3rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1701px) and (max-width: 1920px) {
  #appDownload-box {
    width: 8%;
  }
  #senhaPopUp {
    min-height: 1.2rem;
    font-size: 1rem;
  }
  .perfilInfo > input {
    min-height: 1.2rem;
    font-size: 1rem;
  }
}
/* Modo noturno (ou dark) */

/*# sourceMappingURL=estiloPerfil.css.map */
