html {
  scroll-behavior: smooth;
}

body {
  font-family: Inria Sans, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  transition: background-color 0.5s ease-in-out;
}
body.contrast {
  background-color: #333;
  color: white;
}
body.contrast #painel {
  background-color: #333;
  color: white;
  border-color: rgba(128, 128, 128, 0.39);
}
body.contrast #painel #painel-header #painel-closer {
  background-color: rgba(128, 128, 128, 0.39);
}
body.contrast .login-container {
  background-color: #333;
  box-shadow: -0.125rem 0.3125rem 0.5rem rgba(128, 128, 128, 0.39);
}
body.contrast .login-container #login-title {
  background-color: rgba(128, 128, 128, 0.39);
}
body.contrast .login-container .input-group {
  color: white;
}
body.contrast .login-container #recuperarSenha a {
  color: rgba(128, 128, 128, 0.39);
}
body.contrast .login-container #recuperarSenha a:hover {
  color: #611f1f;
}
body.contrast .login-container .btn-login {
  background-color: rgba(128, 128, 128, 0.39);
}
body.contrast .login-container .btn-login:hover {
  background-color: #611f1f;
}
body.contrast .toggle:checked + .btn-fundo {
  background-color: rgba(128, 128, 128, 0.39);
}
body.contrast #inputSearch, body.contrast #inputSearchMobile {
  background-color: #333;
  color: white;
}
body.contrast #inputSearch::placeholder, body.contrast #inputSearchMobile::placeholder {
  color: white;
}
body.contrast .produtos {
  background-color: rgba(128, 128, 128, 0.39);
  color: white;
  box-shadow: 0.1em 0.4em 0.5em rgba(128, 128, 128, 0.39);
  border-color: rgba(128, 128, 128, 0.39);
}
body.contrast .filtros {
  color: white;
}
body.contrast #popUp {
  background-color: #333;
  border-color: white;
}
body.contrast #popUp #imgPopUp img {
  border-radius: 1rem;
}
body.contrast #popUp .btnPopUp {
  color: white;
}
body.contrast #popUp .btnPopUp:hover {
  box-shadow: none;
}
body.contrast #perfilInfoBox, body.contrast #perfilHistPedBox, body.contrast #perfilCupomBox {
  border-color: rgba(128, 128, 128, 0.39);
}
body.contrast .btnsEdicaoPerfil {
  color: white;
}
body.contrast .pedido-rows:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.39);
}
body.contrast .form-container, body.contrast .helpcontainer {
  background-color: rgba(128, 128, 128, 0.39);
  color: white;
}
body.contrast .form-container h2, body.contrast .helpcontainer h2 {
  color: white;
}
body.contrast .form-container label, body.contrast .helpcontainer label {
  color: white;
}
body.contrast .faq-question {
  color: white;
}
body.contrast .faq-question:hover {
  color: #611f1f;
}
body.contrast .faq-answer {
  color: white;
}
body.contrast .carrinhoCard {
  background-color: #333;
  color: white;
}
body.contrast .carrinhoCard .cardContent {
  background-color: #333;
}
body.deutera {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.deutera #painel {
  background-color: #1a1a1a;
  color: #f5f5f5;
  border-color: #4f3c1c;
}
body.deutera #painel #painel-header #painel-closer {
  background-color: #4f3c1c;
}
body.deutera .login-container {
  background-color: #1a1a1a;
  box-shadow: -0.125rem 0.3125rem 0.5rem #4f3c1c;
}
body.deutera .login-container #login-title {
  background-color: #4f3c1c;
}
body.deutera .login-container .input-group {
  color: #f5f5f5;
}
body.deutera .login-container #recuperarSenha a {
  color: #4f3c1c;
}
body.deutera .login-container #recuperarSenha a:hover {
  color: rgba(180, 180, 180, 0.25);
}
body.deutera .login-container .btn-login {
  background-color: #4f3c1c;
}
body.deutera .login-container .btn-login:hover {
  background-color: rgba(180, 180, 180, 0.25);
}
body.deutera .toggle:checked + .btn-fundo {
  background-color: #4f3c1c;
}
body.deutera #inputSearch, body.deutera #inputSearchMobile {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.deutera #inputSearch::placeholder, body.deutera #inputSearchMobile::placeholder {
  color: #f5f5f5;
}
body.deutera .produtos {
  background-color: #4f3c1c;
  color: #f5f5f5;
  box-shadow: 0.1em 0.4em 0.5em #4f3c1c;
  border-color: #4f3c1c;
}
body.deutera .filtros {
  color: #f5f5f5;
}
body.deutera #popUp {
  background-color: #1a1a1a;
  border-color: #f5f5f5;
}
body.deutera #popUp #imgPopUp img {
  border-radius: 1rem;
}
body.deutera #popUp .btnPopUp {
  color: #f5f5f5;
}
body.deutera #popUp .btnPopUp:hover {
  box-shadow: none;
}
body.deutera #perfilInfoBox, body.deutera #perfilHistPedBox, body.deutera #perfilCupomBox {
  border-color: #4f3c1c;
}
body.deutera .btnsEdicaoPerfil {
  color: #f5f5f5;
}
body.deutera .pedido-rows:nth-child(even) {
  background-color: #4f3c1c;
}
body.deutera .form-container, body.deutera .helpcontainer {
  background-color: #4f3c1c;
  color: #f5f5f5;
}
body.deutera .form-container h2, body.deutera .helpcontainer h2 {
  color: #f5f5f5;
}
body.deutera .form-container label, body.deutera .helpcontainer label {
  color: #f5f5f5;
}
body.deutera .faq-question {
  color: #f5f5f5;
}
body.deutera .faq-question:hover {
  color: rgba(180, 180, 180, 0.25);
}
body.deutera .faq-answer {
  color: #f5f5f5;
}
body.deutera .carrinhoCard {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.deutera .carrinhoCard .cardContent {
  background-color: #1a1a1a;
}
body.prota {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.prota #painel {
  background-color: #1a1a1a;
  color: #f5f5f5;
  border-color: #355c2a;
}
body.prota #painel #painel-header #painel-closer {
  background-color: #355c2a;
}
body.prota .login-container {
  background-color: #1a1a1a;
  box-shadow: -0.125rem 0.3125rem 0.5rem #355c2a;
}
body.prota .login-container #login-title {
  background-color: #355c2a;
}
body.prota .login-container .input-group {
  color: #f5f5f5;
}
body.prota .login-container #recuperarSenha a {
  color: #355c2a;
}
body.prota .login-container #recuperarSenha a:hover {
  color: rgba(200, 200, 200, 0.25);
}
body.prota .login-container .btn-login {
  background-color: #355c2a;
}
body.prota .login-container .btn-login:hover {
  background-color: rgba(200, 200, 200, 0.25);
}
body.prota .toggle:checked + .btn-fundo {
  background-color: #355c2a;
}
body.prota #inputSearch, body.prota #inputSearchMobile {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.prota #inputSearch::placeholder, body.prota #inputSearchMobile::placeholder {
  color: #f5f5f5;
}
body.prota .produtos {
  background-color: #355c2a;
  color: #f5f5f5;
  box-shadow: 0.1em 0.4em 0.5em #355c2a;
  border-color: #355c2a;
}
body.prota .filtros {
  color: #f5f5f5;
}
body.prota #popUp {
  background-color: #1a1a1a;
  border-color: #f5f5f5;
}
body.prota #popUp #imgPopUp img {
  border-radius: 1rem;
}
body.prota #popUp .btnPopUp {
  color: #f5f5f5;
}
body.prota #popUp .btnPopUp:hover {
  box-shadow: none;
}
body.prota #perfilInfoBox, body.prota #perfilHistPedBox, body.prota #perfilCupomBox {
  border-color: #355c2a;
}
body.prota .btnsEdicaoPerfil {
  color: #f5f5f5;
}
body.prota .pedido-rows:nth-child(even) {
  background-color: #355c2a;
}
body.prota .form-container, body.prota .helpcontainer {
  background-color: #355c2a;
  color: #f5f5f5;
}
body.prota .form-container h2, body.prota .helpcontainer h2 {
  color: #f5f5f5;
}
body.prota .form-container label, body.prota .helpcontainer label {
  color: #f5f5f5;
}
body.prota .faq-question {
  color: #f5f5f5;
}
body.prota .faq-question:hover {
  color: rgba(200, 200, 200, 0.25);
}
body.prota .faq-answer {
  color: #f5f5f5;
}
body.prota .carrinhoCard {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.prota .carrinhoCard .cardContent {
  background-color: #1a1a1a;
}
body.trita {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.trita #painel {
  background-color: #1a1a1a;
  color: #f5f5f5;
  border-color: #5a3620;
}
body.trita #painel #painel-header #painel-closer {
  background-color: #5a3620;
}
body.trita .login-container {
  background-color: #1a1a1a;
  box-shadow: -0.125rem 0.3125rem 0.5rem #5a3620;
}
body.trita .login-container #login-title {
  background-color: #5a3620;
}
body.trita .login-container .input-group {
  color: #f5f5f5;
}
body.trita .login-container #recuperarSenha a {
  color: #5a3620;
}
body.trita .login-container #recuperarSenha a:hover {
  color: rgba(160, 160, 160, 0.25);
}
body.trita .login-container .btn-login {
  background-color: #5a3620;
}
body.trita .login-container .btn-login:hover {
  background-color: rgba(160, 160, 160, 0.25);
}
body.trita .toggle:checked + .btn-fundo {
  background-color: #5a3620;
}
body.trita #inputSearch, body.trita #inputSearchMobile {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.trita #inputSearch::placeholder, body.trita #inputSearchMobile::placeholder {
  color: #f5f5f5;
}
body.trita .produtos {
  background-color: #5a3620;
  color: #f5f5f5;
  box-shadow: 0.1em 0.4em 0.5em #5a3620;
  border-color: #5a3620;
}
body.trita .filtros {
  color: #f5f5f5;
}
body.trita #popUp {
  background-color: #1a1a1a;
  border-color: #f5f5f5;
}
body.trita #popUp #imgPopUp img {
  border-radius: 1rem;
}
body.trita #popUp .btnPopUp {
  color: #f5f5f5;
}
body.trita #popUp .btnPopUp:hover {
  box-shadow: none;
}
body.trita #perfilInfoBox, body.trita #perfilHistPedBox, body.trita #perfilCupomBox {
  border-color: #5a3620;
}
body.trita .btnsEdicaoPerfil {
  color: #f5f5f5;
}
body.trita .pedido-rows:nth-child(even) {
  background-color: #5a3620;
}
body.trita .form-container, body.trita .helpcontainer {
  background-color: #5a3620;
  color: #f5f5f5;
}
body.trita .form-container h2, body.trita .helpcontainer h2 {
  color: #f5f5f5;
}
body.trita .form-container label, body.trita .helpcontainer label {
  color: #f5f5f5;
}
body.trita .faq-question {
  color: #f5f5f5;
}
body.trita .faq-question:hover {
  color: rgba(160, 160, 160, 0.25);
}
body.trita .faq-answer {
  color: #f5f5f5;
}
body.trita .carrinhoCard {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.trita .carrinhoCard .cardContent {
  background-color: #1a1a1a;
}

html, body {
  overflow-x: hidden;
}

main {
  margin: 5%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#filtroBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.filtros {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.25rem;
}

.btnFiltros {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 30rem;
}

.imgFiltros {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 70%;
}

#btnFiltro0 {
  background: #7e7e7e;
  border: 0.1rem solid 0.1rem solid #6d6c6c;
}

#btnFiltro1 {
  background: #fd9b9b;
  border: 0.1rem solid 0.1rem solid #fd8d8d;
}

#btnFiltro2 {
  background: #ffdb99;
  border: 0.1rem solid 0.1rem solid #fcd48a;
}

#btnFiltro3 {
  background: #99b9ff;
  border: 0.1rem solid 0.1rem solid #7ba4fd;
}

#fileira-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 3%;
}

#fileira-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 3%;
}

#fileira-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 3%;
}

#fileira-4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 3%;
}

#fileira-5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 3%;
}

#fileira-6 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 3%;
}

.fileiras {
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
}

#btnRecarregar {
  background: #7e7e7e;
  border: 0.1rem solid 0.1rem solid #6d6c6c;
  width: 10%;
}

.produtos {
  background-color: #f2f2f2;
  width: 14.6%;
  padding: 1%;
  margin: 1.6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.1em 0.4em 0.5em rgba(128, 128, 128, 0.39);
  border: 0.1em solid rgba(128, 128, 128, 0.39);
  border-radius: 0.75rem;
  transition: background-color 0.5s;
}

.imgProdutos {
  border-radius: 1rem;
}

.molduraProdutos {
  width: 120%;
}

.descricaoProdutos {
  text-align: center;
}

.btnProdutos {
  display: flex;
  width: 90%;
  height: 5vh;
  margin-bottom: 10%;
  justify-content: center;
  align-items: center;
  font-size: large;
  background-image: linear-gradient(#1F6124, #123b15);
  border-radius: 0.375rem;
  color: white;
  user-select: none;
  cursor: pointer;
}
.btnProdutos:hover {
  background-image: linear-gradient(#8A3C29, #572519);
}
.btnProdutos:active {
  background-image: linear-gradient(#b54f36, #8a3b28);
}

#voltarTopo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #1F6124;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 100%;
  transition: 0.2s;
}
#voltarTopo:hover {
  background-color: #228B22;
}

footer {
  background: white;
  padding: 0.625rem;
  text-align: center;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 500px) {
  main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #filtroBox {
    margin-top: 7%;
  }
  .filtros {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.25rem;
  }
  .fileiras {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
  }
  .produtos {
    background-color: #f2f2f2;
    width: 35%;
    padding: 3%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .molduraProdutos {
    width: 150%;
  }
  #btnRecarregar {
    width: 25%;
  }
}
@media screen and (min-width: 501px) and (max-width: 800px) {
  main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #filtroBox {
    margin-top: 7%;
  }
  .filtros {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.25rem;
  }
  .fileiras {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
  }
  .produtos {
    background-color: #f2f2f2;
    width: 15%;
    padding: 3%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .molduraProdutos {
    width: 150%;
  }
  #btnRecarregar {
    width: 15%;
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  .filtros {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.25rem;
  }
  .produtos {
    background-color: #f2f2f2;
    width: 18%;
    padding: 3%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .molduraProdutos {
    width: 150%;
  }
  #btnRecarregar {
    width: 12%;
  }
}
@media screen and (min-width: 1701px) and (max-width: 1920px) {
  main {
    margin: 5%;
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .filtros {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.25rem;
  }
  .fileiras {
    width: 100%;
    height: fit-content;
  }
  #fileira-1, #fileira-2, #fileira-3, #fileira-4, #fileira-5, #fileira-6 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0%;
  }
  .produtos {
    background-color: #f2f2f2;
    width: 10%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .molduraProdutos {
    width: 150%;
  }
  #btnRecarregar {
    width: 6%;
  }
}
/* Modo noturno (ou dark) */

/*# sourceMappingURL=estiloHome.css.map */
