@charset "UTF-8";
html {
  scroll-behavior: smooth;
  scrollbar-color: white #2c311b;
}

html {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body {
  font-family: Inria Sans, Arial, sans-serif;
  font-size: larger;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #8A3C29;
  transition: background-color 0.5s;
}

html, body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0em;
}

a {
  text-decoration: none;
  color: white;
}

#bloco-1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 50vh;
  padding: 15% 0%;
  text-align: center;
  align-items: center;
  color: #1F6124;
}
#bloco-1 #background-florest {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -1;
}

#btn-top {
  padding: 1%;
  background-color: #1F6124;
  color: white;
  border-radius: 10rem;
  cursor: pointer;
}

#btn-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
  background-color: #2c311b;
  margin-top: 18%;
  border-radius: 10rem;
  cursor: pointer;
}
#btn-middle #arrow {
  position: absolute;
  height: 20px;
  width: 20px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transform: rotate(225deg);
}

#bloco-2 {
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #2c311b;
  color: white;
  border-radius: 0 0 2.5rem 2.5rem;
}

#feature-box {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.features {
  width: 20%;
  padding-top: 5%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(#ffffff, #cacaca);
  border-radius: 0.5rem;
  color: #2c311b;
}
.features:hover .middle-text {
  opacity: 1;
}
.features .middle-text {
  opacity: 0;
  margin-top: 20%;
  padding: 0 5%;
  text-align: center;
  transition: opacity 0.5s ease;
}
.features .bottom-title {
  margin-top: 20%;
}

#bloco-3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  margin-top: 5%;
  color: white;
}

#enjoy-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3%;
}

.form-containers {
  position: relative;
  width: 40%;
  padding: 3%;
  padding-bottom: 7%;
  text-align: justify;
  background-color: #2c311b;
  color: white;
  border-radius: 2rem;
}

.btns-form {
  position: absolute;
  width: fit-content;
  padding: 2%;
  bottom: 5%;
  background-color: #1F6124;
  border-radius: 1rem;
  cursor: pointer;
}

#popUp {
  position: fixed;
  z-index: 9999;
  top: 20%;
  left: 20%;
  display: none;
  opacity: 0;
  flex-direction: column;
  width: fit-content;
  width: 50%;
  padding: 2% 3% 5% 3%;
  background-color: #2c311b;
  color: white;
  border-image: linear-gradient(#ffffff, #cacaca);
  border: 0.3rem solid;
  border-radius: 1rem;
  transition: opacity 0.5s ease;
}
#popUp #popUp-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#popUp #popUp-header #popUp-closer {
  width: 5%;
  background-image: linear-gradient(#ffffff, #cacaca);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
#popUp #popUp-header #popUp-closer::after {
  position: absolute;
  top: -25%;
  left: 0;
  right: 0;
  content: "×";
  border: 1rem;
  font-size: 50px;
  text-align: center;
  color: #2c311b;
}

#btns-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3%;
  margin-bottom: 5%;
}
#btns-box div {
  width: fit-content;
  padding: 2%;
  background-color: #1F6124;
  border-radius: 1rem;
  cursor: pointer;
}

#help-text {
  opacity: 0;
  text-align: justify;
  transition: opacity 0.5s ease;
}

footer {
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding: 0.625rem;
  background: white;
  border-radius: 2.5rem 2.5rem 0 0;
}
footer #footer-row1 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1% 0 2% 0;
}
footer #footerLogo {
  width: 15%;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 500px) {
  main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #bloco-1 {
    height: 90vh;
  }
  #bloco-1 #background-florest {
    object-fit: cover;
  }
  #btn-top {
    padding: 2.5%;
  }
  #btn-middle {
    padding: 7%;
    margin-top: 80%;
  }
  #bloco-2 {
    padding: 5%;
    text-align: justify;
  }
  .features {
    width: 70%;
  }
  #bloco-3 {
    height: 90vh;
  }
  #bloco-3 #enjoy-box {
    flex-wrap: wrap;
    padding: 1%;
  }
  #bloco-3 #enjoy-box .form-containers {
    width: 90%;
    padding-bottom: 15%;
    margin-bottom: 6%;
  }
  #bloco-3 #enjoy-box .form-containers h1 {
    font-size: x-large;
  }
  footer #footerLogo {
    width: 50%;
  }
}
@media screen and (min-width: 501px) and (max-width: 800px) {
  main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1701px) and (max-width: 1920px) {
  main {
    margin: 5%;
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
/* Modo noturno (ou dark) */

/*# sourceMappingURL=estiloIndex.css.map */
