html {
  scroll-behavior: smooth;
}

body {
  font-family: Inria Sans, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#572519, #703121);
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-color 0.5s;
  min-height: 100vh;
}
body.contrast {
  background-color: #333;
  color: white;
}
body.contrast #inputSearch {
  background-color: #333;
  color: white;
}
body.contrast #inputSearch::placeholder {
  color: white;
}
body.contrast .produtos {
  background-color: rgba(128, 128, 128, 0.39);
  color: white;
}
body.contrast .filtros {
  color: white;
}
body.contrast #popUp {
  background-color: #333;
  border-color: white;
}
body.contrast #popUp #imgPopUp img {
  border-radius: 1rem;
}
body.contrast #popUp .btnPopUp {
  color: white;
}
body.contrast #popUp .btnPopUp:hover {
  box-shadow: none;
}
body.contrast #perfilInfoBox, body.contrast #perfilHistPedBox, body.contrast #perfilCupomBox {
  border-color: rgba(128, 128, 128, 0.39);
}
body.contrast .btnsEdicaoPerfil {
  color: white;
}
body.contrast .pedido-rows:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.39);
}
body.contrast .form-container, body.contrast .helpcontainer {
  background-color: rgba(128, 128, 128, 0.39);
  color: white;
}
body.contrast .form-container h2, body.contrast .helpcontainer h2 {
  color: white;
}
body.contrast .form-container label, body.contrast .helpcontainer label {
  color: white;
}
body.contrast .faq-question {
  color: white;
}
body.contrast .faq-question:hover {
  color: #611f1f;
}
body.contrast .faq-answer {
  color: white;
}
body.contrast .carrinhoCard {
  background-color: #333;
  color: white;
}
body.contrast .carrinhoCard .cardContent {
  background-color: #333;
}
body.deutera {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.deutera #inputSearch {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.deutera #inputSearch::placeholder {
  color: #f5f5f5;
}
body.deutera .produtos {
  background-color: #4f3c1c;
  color: #f5f5f5;
}
body.deutera .filtros {
  color: #f5f5f5;
}
body.deutera #popUp {
  background-color: #1a1a1a;
  border-color: #f5f5f5;
}
body.deutera #popUp #imgPopUp img {
  border-radius: 1rem;
}
body.deutera #popUp .btnPopUp {
  color: #f5f5f5;
}
body.deutera #popUp .btnPopUp:hover {
  box-shadow: none;
}
body.deutera #perfilInfoBox, body.deutera #perfilHistPedBox, body.deutera #perfilCupomBox {
  border-color: #4f3c1c;
}
body.deutera .btnsEdicaoPerfil {
  color: #f5f5f5;
}
body.deutera .pedido-rows:nth-child(even) {
  background-color: #4f3c1c;
}
body.deutera .form-container, body.deutera .helpcontainer {
  background-color: #4f3c1c;
  color: #f5f5f5;
}
body.deutera .form-container h2, body.deutera .helpcontainer h2 {
  color: #f5f5f5;
}
body.deutera .form-container label, body.deutera .helpcontainer label {
  color: #f5f5f5;
}
body.deutera .faq-question {
  color: #f5f5f5;
}
body.deutera .faq-question:hover {
  color: rgba(180, 180, 180, 0.25);
}
body.deutera .faq-answer {
  color: #f5f5f5;
}
body.deutera .carrinhoCard {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.deutera .carrinhoCard .cardContent {
  background-color: #1a1a1a;
}
body.prota {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.prota #inputSearch {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.prota #inputSearch::placeholder {
  color: #f5f5f5;
}
body.prota .produtos {
  background-color: #355c2a;
  color: #f5f5f5;
}
body.prota .filtros {
  color: #f5f5f5;
}
body.prota #popUp {
  background-color: #1a1a1a;
  border-color: #f5f5f5;
}
body.prota #popUp #imgPopUp img {
  border-radius: 1rem;
}
body.prota #popUp .btnPopUp {
  color: #f5f5f5;
}
body.prota #popUp .btnPopUp:hover {
  box-shadow: none;
}
body.prota #perfilInfoBox, body.prota #perfilHistPedBox, body.prota #perfilCupomBox {
  border-color: #355c2a;
}
body.prota .btnsEdicaoPerfil {
  color: #f5f5f5;
}
body.prota .pedido-rows:nth-child(even) {
  background-color: #355c2a;
}
body.prota .form-container, body.prota .helpcontainer {
  background-color: #355c2a;
  color: #f5f5f5;
}
body.prota .form-container h2, body.prota .helpcontainer h2 {
  color: #f5f5f5;
}
body.prota .form-container label, body.prota .helpcontainer label {
  color: #f5f5f5;
}
body.prota .faq-question {
  color: #f5f5f5;
}
body.prota .faq-question:hover {
  color: rgba(200, 200, 200, 0.25);
}
body.prota .faq-answer {
  color: #f5f5f5;
}
body.prota .carrinhoCard {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.prota .carrinhoCard .cardContent {
  background-color: #1a1a1a;
}
body.trita {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.trita #inputSearch {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.trita #inputSearch::placeholder {
  color: #f5f5f5;
}
body.trita .produtos {
  background-color: #5a3620;
  color: #f5f5f5;
}
body.trita .filtros {
  color: #f5f5f5;
}
body.trita #popUp {
  background-color: #1a1a1a;
  border-color: #f5f5f5;
}
body.trita #popUp #imgPopUp img {
  border-radius: 1rem;
}
body.trita #popUp .btnPopUp {
  color: #f5f5f5;
}
body.trita #popUp .btnPopUp:hover {
  box-shadow: none;
}
body.trita #perfilInfoBox, body.trita #perfilHistPedBox, body.trita #perfilCupomBox {
  border-color: #5a3620;
}
body.trita .btnsEdicaoPerfil {
  color: #f5f5f5;
}
body.trita .pedido-rows:nth-child(even) {
  background-color: #5a3620;
}
body.trita .form-container, body.trita .helpcontainer {
  background-color: #5a3620;
  color: #f5f5f5;
}
body.trita .form-container h2, body.trita .helpcontainer h2 {
  color: #f5f5f5;
}
body.trita .form-container label, body.trita .helpcontainer label {
  color: #f5f5f5;
}
body.trita .faq-question {
  color: #f5f5f5;
}
body.trita .faq-question:hover {
  color: rgba(160, 160, 160, 0.25);
}
body.trita .faq-answer {
  color: #f5f5f5;
}
body.trita .carrinhoCard {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.trita .carrinhoCard .cardContent {
  background-color: #1a1a1a;
}

html, body {
  overflow-x: hidden;
}

#cartContainer {
  margin-top: 0%;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  right: 0rem;
  flex-direction: column;
  justify-content: center;
  transition: right 0.2s, margin-top 0.2s ease;
}
#cartContainer::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #611f1f;
}
#cartContainer::-webkit-scrollbar-thumb {
  background-color: rgb(59, 221, 59);
}
#cartContainer::-webkit-scrollbar-thumb:hover {
  background-color: #228B22;
}

.cardRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.carrinhoCard {
  display: flex;
  width: 30cap;
  background-color: white;
  border-radius: 0.5rem;
  margin: 3%;
}

.imgRemoverCard {
  width: 15%;
}

.cardContent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  width: fit-content;
  font-size: small;
  border-radius: 0.5rem;
  text-align: center;
}
.cardContent img, .cardContent p {
  flex: 0 0 50%;
}
.cardContent .molduraProdutos {
  height: fit-content;
  max-width: 50%;
}
.cardContent .molduraProdutos figure {
  margin: 1rem;
  height: fit-content;
}
.cardContent .molduraProdutos figure img {
  height: 100%;
  border-radius: 1rem;
}
.cardContent > p {
  min-width: 50%;
}
.cardContent > .precoProduto {
  font-weight: bold;
}

#pedidoBox {
  display: flex;
  width: 100%;
  min-height: min-content;
  margin-top: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  bottom: 0%;
  transition: transform 0.3s ease;
}

#btnPedido {
  display: flex;
  width: 90%;
  height: 5vh;
  margin-bottom: 10%;
  justify-content: center;
  align-items: center;
  font-size: large;
  background-image: linear-gradient(#1F6124, #123b15);
  border-radius: 0.375rem;
  color: white;
  user-select: none;
  cursor: pointer;
}
#btnPedido:hover {
  background-image: linear-gradient(#8A3C29, #572519);
}
#btnPedido:active {
  background-image: linear-gradient(#b54f36, #8a3b28);
}

#btnPedido {
  width: 15%;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 500px) {
  .carrinhoCard {
    width: 27cap;
  }
  .imgRemoverCard {
    width: 20%;
  }
  #btnPedido {
    width: 60%;
  }
}
@media screen and (min-width: 501px) and (max-width: 810px) {
  .carrinhoCard {
    width: 27cap;
  }
  .imgRemoverCard {
    width: 20%;
  }
  #btnPedido {
    width: 30%;
  }
}
@media screen and (min-width: 1701px) and (max-width: 1920px) {
  #btnPedido {
    width: 15%;
  }
}

/*# sourceMappingURL=estiloCarrinho.css.map */
