body {
  font-family: Inria Sans, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  transition: background-color 0.5s;
  overflow-x: hidden;
}
body.contrast {
  background-color: #333;
  color: white;
}
body.contrast #inputSearch {
  background-color: #333;
  color: white;
}
body.contrast #inputSearch::placeholder {
  color: white;
}
body.contrast .produtos {
  background-color: rgba(128, 128, 128, 0.39);
  color: white;
}
body.contrast .filtros {
  color: white;
}
body.contrast #popUp {
  background-color: #333;
  border-color: white;
}
body.contrast #popUp #imgPopUp img {
  border-radius: 1rem;
}
body.contrast #popUp .btnPopUp {
  color: white;
}
body.contrast #popUp .btnPopUp:hover {
  box-shadow: none;
}
body.contrast #perfilInfoBox, body.contrast #perfilHistPedBox, body.contrast #perfilCupomBox {
  border-color: rgba(128, 128, 128, 0.39);
}
body.contrast .btnsEdicaoPerfil {
  color: white;
}
body.contrast .pedido-rows:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.39);
}
body.contrast .form-container, body.contrast .helpcontainer {
  background-color: rgba(128, 128, 128, 0.39);
  color: white;
}
body.contrast .form-container h2, body.contrast .helpcontainer h2 {
  color: white;
}
body.contrast .form-container label, body.contrast .helpcontainer label {
  color: white;
}
body.contrast .faq-question {
  color: white;
}
body.contrast .faq-question:hover {
  color: #611f1f;
}
body.contrast .faq-answer {
  color: white;
}
body.contrast .carrinhoCard {
  background-color: #333;
  color: white;
}
body.contrast .carrinhoCard .cardContent {
  background-color: #333;
}
body.deutera {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.deutera #inputSearch {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.deutera #inputSearch::placeholder {
  color: #f5f5f5;
}
body.deutera .produtos {
  background-color: #4f3c1c;
  color: #f5f5f5;
}
body.deutera .filtros {
  color: #f5f5f5;
}
body.deutera #popUp {
  background-color: #1a1a1a;
  border-color: #f5f5f5;
}
body.deutera #popUp #imgPopUp img {
  border-radius: 1rem;
}
body.deutera #popUp .btnPopUp {
  color: #f5f5f5;
}
body.deutera #popUp .btnPopUp:hover {
  box-shadow: none;
}
body.deutera #perfilInfoBox, body.deutera #perfilHistPedBox, body.deutera #perfilCupomBox {
  border-color: #4f3c1c;
}
body.deutera .btnsEdicaoPerfil {
  color: #f5f5f5;
}
body.deutera .pedido-rows:nth-child(even) {
  background-color: #4f3c1c;
}
body.deutera .form-container, body.deutera .helpcontainer {
  background-color: #4f3c1c;
  color: #f5f5f5;
}
body.deutera .form-container h2, body.deutera .helpcontainer h2 {
  color: #f5f5f5;
}
body.deutera .form-container label, body.deutera .helpcontainer label {
  color: #f5f5f5;
}
body.deutera .faq-question {
  color: #f5f5f5;
}
body.deutera .faq-question:hover {
  color: rgba(180, 180, 180, 0.25);
}
body.deutera .faq-answer {
  color: #f5f5f5;
}
body.deutera .carrinhoCard {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.deutera .carrinhoCard .cardContent {
  background-color: #1a1a1a;
}
body.prota {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.prota #inputSearch {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.prota #inputSearch::placeholder {
  color: #f5f5f5;
}
body.prota .produtos {
  background-color: #355c2a;
  color: #f5f5f5;
}
body.prota .filtros {
  color: #f5f5f5;
}
body.prota #popUp {
  background-color: #1a1a1a;
  border-color: #f5f5f5;
}
body.prota #popUp #imgPopUp img {
  border-radius: 1rem;
}
body.prota #popUp .btnPopUp {
  color: #f5f5f5;
}
body.prota #popUp .btnPopUp:hover {
  box-shadow: none;
}
body.prota #perfilInfoBox, body.prota #perfilHistPedBox, body.prota #perfilCupomBox {
  border-color: #355c2a;
}
body.prota .btnsEdicaoPerfil {
  color: #f5f5f5;
}
body.prota .pedido-rows:nth-child(even) {
  background-color: #355c2a;
}
body.prota .form-container, body.prota .helpcontainer {
  background-color: #355c2a;
  color: #f5f5f5;
}
body.prota .form-container h2, body.prota .helpcontainer h2 {
  color: #f5f5f5;
}
body.prota .form-container label, body.prota .helpcontainer label {
  color: #f5f5f5;
}
body.prota .faq-question {
  color: #f5f5f5;
}
body.prota .faq-question:hover {
  color: rgba(200, 200, 200, 0.25);
}
body.prota .faq-answer {
  color: #f5f5f5;
}
body.prota .carrinhoCard {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.prota .carrinhoCard .cardContent {
  background-color: #1a1a1a;
}
body.trita {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.trita #inputSearch {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.trita #inputSearch::placeholder {
  color: #f5f5f5;
}
body.trita .produtos {
  background-color: #5a3620;
  color: #f5f5f5;
}
body.trita .filtros {
  color: #f5f5f5;
}
body.trita #popUp {
  background-color: #1a1a1a;
  border-color: #f5f5f5;
}
body.trita #popUp #imgPopUp img {
  border-radius: 1rem;
}
body.trita #popUp .btnPopUp {
  color: #f5f5f5;
}
body.trita #popUp .btnPopUp:hover {
  box-shadow: none;
}
body.trita #perfilInfoBox, body.trita #perfilHistPedBox, body.trita #perfilCupomBox {
  border-color: #5a3620;
}
body.trita .btnsEdicaoPerfil {
  color: #f5f5f5;
}
body.trita .pedido-rows:nth-child(even) {
  background-color: #5a3620;
}
body.trita .form-container, body.trita .helpcontainer {
  background-color: #5a3620;
  color: #f5f5f5;
}
body.trita .form-container h2, body.trita .helpcontainer h2 {
  color: #f5f5f5;
}
body.trita .form-container label, body.trita .helpcontainer label {
  color: #f5f5f5;
}
body.trita .faq-question {
  color: #f5f5f5;
}
body.trita .faq-question:hover {
  color: rgba(160, 160, 160, 0.25);
}
body.trita .faq-answer {
  color: #f5f5f5;
}
body.trita .carrinhoCard {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.trita .carrinhoCard .cardContent {
  background-color: #1a1a1a;
}

html, body {
  overflow-x: hidden;
}

h1 {
  -webkit-text-stroke: 0.21875rem black;
  paint-order: stroke fill;
}

.respons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

main {
  width: 90%;
  margin: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
main h1 {
  color: #333;
}

#fileira-1, #fileira-2 {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3%;
}

footer {
  background: white;
  padding: 0.625rem;
  text-align: center;
}

#colorir1 {
  -webkit-text-stroke: 0rem #333;
}

#btnEnviar input {
  background-color: #228B22;
  color: white;
}

/*Container do Contato*/
.form-container {
  background-color: #e5ffdb;
  padding: 3.3%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.252);
  width: 31%;
  float: left;
  margin-right: 5%;
}
.form-container h2 {
  margin-top: 0;
  color: #333;
}

.form-group {
  margin-bottom: 2.7%;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}
.form-group input, .form-group textarea, .form-group select {
  width: 100%;
  padding: 2.7%;
  border: 1px solid lightgrey;
  border-radius: 4px;
  font-size: 1rem;
  resize: vertical;
}
.form-group textarea {
  height: 10vh;
}
.form-group button {
  width: 100%;
  padding: 0.625rem;
  background-color: #228B22;
  color: white;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.5s;
}
.form-group button:hover {
  background-color: #611f1f;
}

.color1 {
  font-weight: lighter;
}

/*Container da Ajuda*/
.helpcontainer {
  width: 47%;
  margin-left: 5%;
  padding: 2%;
  background-color: #e5ffdb;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  float: right;
  display: flex;
}
.helpcontainer h1, .helpcontainer h2 {
  color: #333;
}
.helpcontainer h1 {
  text-align: center;
  margin-top: 0;
}

.faq-section {
  margin-top: 2%;
}
.faq-section h2 {
  margin-top: 0;
}

.faq-item {
  margin-bottom: 1.5%;
}

.faq-question {
  font-weight: bold;
  cursor: pointer;
  color: #333;
  transition: 0.3s ease-in;
}
.faq-question:hover {
  color: #228B22;
}

.faq-answer {
  display: none;
  margin-top: 5px;
  color: #333;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 500px) {
  #janela {
    margin: 0;
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  #colorir2, #colorir3 {
    display: none;
  }
  #helpcontainer {
    margin: 0;
    margin-bottom: 10%;
    width: 90%;
  }
  #faq-section {
    padding: 5%;
  }
  #colorir4 {
    text-align: center;
    margin-top: 3%;
    padding-right: 3%;
  }
  #form-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0%;
    padding-left: 3%;
    padding-bottom: 5%;
    margin: auto;
    margin-bottom: 15%;
    width: 90%;
  }
  .form-group > input, .form-group > select, .form-group > textarea {
    width: 90%;
  }
  #btnEnviar input {
    margin: auto;
    margin-top: 5%;
    width: 95%;
    padding-right: 3%;
  }
}
@media screen and (min-width: 501px) and (max-width: 800px) {
  #janela {
    margin: 0;
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  #colorir2, #colorir3 {
    display: none;
  }
  #helpcontainer {
    margin: 0;
    margin-bottom: 10%;
    width: 90%;
  }
  #faq-section {
    padding: 5%;
  }
  #colorir4 {
    text-align: center;
    margin-top: 3%;
    padding-right: 3%;
  }
  #form-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0%;
    padding-left: 3%;
    padding-bottom: 5%;
    margin: auto;
    margin-bottom: 15%;
    width: 90%;
  }
  input {
    min-height: 0.7rem;
    font-size: 0.9rem;
  }
  .form-group > input, .form-group > select, .form-group > textarea {
    width: 90%;
  }
  #btnEnviar {
    margin: auto;
    margin-top: 5%;
    width: 80%;
    padding-right: 3%;
  }
}

/*# sourceMappingURL=estiloCentral.css.map */
