body {
  font-family: Inria Sans, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  transition: background-color 0.5s;
}
body.contrast {
  background-color: #333;
  color: white;
}
body.contrast #inputSearch {
  background-color: #333;
  color: white;
}
body.contrast #inputSearch::placeholder {
  color: white;
}
body.contrast .produtos {
  background-color: rgba(128, 128, 128, 0.39);
  color: white;
}
body.contrast .filtros {
  color: white;
}
body.contrast #popUp {
  background-color: #333;
  border-color: white;
}
body.contrast #popUp #imgPopUp img {
  border-radius: 1rem;
}
body.contrast #popUp .btnPopUp {
  color: white;
}
body.contrast #popUp .btnPopUp:hover {
  box-shadow: none;
}
body.contrast #perfilInfoBox, body.contrast #perfilHistPedBox, body.contrast #perfilCupomBox {
  border-color: rgba(128, 128, 128, 0.39);
}
body.contrast .btnsEdicaoPerfil {
  color: white;
}
body.contrast .pedido-rows:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.39);
}
body.contrast .form-container, body.contrast .helpcontainer {
  background-color: rgba(128, 128, 128, 0.39);
  color: white;
}
body.contrast .form-container h2, body.contrast .helpcontainer h2 {
  color: white;
}
body.contrast .form-container label, body.contrast .helpcontainer label {
  color: white;
}
body.contrast .faq-question {
  color: white;
}
body.contrast .faq-question:hover {
  color: #611f1f;
}
body.contrast .faq-answer {
  color: white;
}
body.contrast .carrinhoCard {
  background-color: #333;
  color: white;
}
body.contrast .carrinhoCard .cardContent {
  background-color: #333;
}
body.deutera {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.deutera #inputSearch {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.deutera #inputSearch::placeholder {
  color: #f5f5f5;
}
body.deutera .produtos {
  background-color: #4f3c1c;
  color: #f5f5f5;
}
body.deutera .filtros {
  color: #f5f5f5;
}
body.deutera #popUp {
  background-color: #1a1a1a;
  border-color: #f5f5f5;
}
body.deutera #popUp #imgPopUp img {
  border-radius: 1rem;
}
body.deutera #popUp .btnPopUp {
  color: #f5f5f5;
}
body.deutera #popUp .btnPopUp:hover {
  box-shadow: none;
}
body.deutera #perfilInfoBox, body.deutera #perfilHistPedBox, body.deutera #perfilCupomBox {
  border-color: #4f3c1c;
}
body.deutera .btnsEdicaoPerfil {
  color: #f5f5f5;
}
body.deutera .pedido-rows:nth-child(even) {
  background-color: #4f3c1c;
}
body.deutera .form-container, body.deutera .helpcontainer {
  background-color: #4f3c1c;
  color: #f5f5f5;
}
body.deutera .form-container h2, body.deutera .helpcontainer h2 {
  color: #f5f5f5;
}
body.deutera .form-container label, body.deutera .helpcontainer label {
  color: #f5f5f5;
}
body.deutera .faq-question {
  color: #f5f5f5;
}
body.deutera .faq-question:hover {
  color: rgba(180, 180, 180, 0.25);
}
body.deutera .faq-answer {
  color: #f5f5f5;
}
body.deutera .carrinhoCard {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.deutera .carrinhoCard .cardContent {
  background-color: #1a1a1a;
}
body.prota {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.prota #inputSearch {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.prota #inputSearch::placeholder {
  color: #f5f5f5;
}
body.prota .produtos {
  background-color: #355c2a;
  color: #f5f5f5;
}
body.prota .filtros {
  color: #f5f5f5;
}
body.prota #popUp {
  background-color: #1a1a1a;
  border-color: #f5f5f5;
}
body.prota #popUp #imgPopUp img {
  border-radius: 1rem;
}
body.prota #popUp .btnPopUp {
  color: #f5f5f5;
}
body.prota #popUp .btnPopUp:hover {
  box-shadow: none;
}
body.prota #perfilInfoBox, body.prota #perfilHistPedBox, body.prota #perfilCupomBox {
  border-color: #355c2a;
}
body.prota .btnsEdicaoPerfil {
  color: #f5f5f5;
}
body.prota .pedido-rows:nth-child(even) {
  background-color: #355c2a;
}
body.prota .form-container, body.prota .helpcontainer {
  background-color: #355c2a;
  color: #f5f5f5;
}
body.prota .form-container h2, body.prota .helpcontainer h2 {
  color: #f5f5f5;
}
body.prota .form-container label, body.prota .helpcontainer label {
  color: #f5f5f5;
}
body.prota .faq-question {
  color: #f5f5f5;
}
body.prota .faq-question:hover {
  color: rgba(200, 200, 200, 0.25);
}
body.prota .faq-answer {
  color: #f5f5f5;
}
body.prota .carrinhoCard {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.prota .carrinhoCard .cardContent {
  background-color: #1a1a1a;
}
body.trita {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.trita #inputSearch {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.trita #inputSearch::placeholder {
  color: #f5f5f5;
}
body.trita .produtos {
  background-color: #5a3620;
  color: #f5f5f5;
}
body.trita .filtros {
  color: #f5f5f5;
}
body.trita #popUp {
  background-color: #1a1a1a;
  border-color: #f5f5f5;
}
body.trita #popUp #imgPopUp img {
  border-radius: 1rem;
}
body.trita #popUp .btnPopUp {
  color: #f5f5f5;
}
body.trita #popUp .btnPopUp:hover {
  box-shadow: none;
}
body.trita #perfilInfoBox, body.trita #perfilHistPedBox, body.trita #perfilCupomBox {
  border-color: #5a3620;
}
body.trita .btnsEdicaoPerfil {
  color: #f5f5f5;
}
body.trita .pedido-rows:nth-child(even) {
  background-color: #5a3620;
}
body.trita .form-container, body.trita .helpcontainer {
  background-color: #5a3620;
  color: #f5f5f5;
}
body.trita .form-container h2, body.trita .helpcontainer h2 {
  color: #f5f5f5;
}
body.trita .form-container label, body.trita .helpcontainer label {
  color: #f5f5f5;
}
body.trita .faq-question {
  color: #f5f5f5;
}
body.trita .faq-question:hover {
  color: rgba(160, 160, 160, 0.25);
}
body.trita .faq-answer {
  color: #f5f5f5;
}
body.trita .carrinhoCard {
  background-color: #1a1a1a;
  color: #f5f5f5;
}
body.trita .carrinhoCard .cardContent {
  background-color: #1a1a1a;
}

html, body {
  overflow-x: hidden;
}

main {
  margin: 5%;
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/*      POP UP         */
#popUp {
  display: none;
  visibility: hidden;
  opacity: 0;
  width: 50%;
  padding: 0% 3% 3%;
  position: absolute;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: 0.2rem solid #611f1f;
  border-radius: 0.5rem;
  top: 20%;
  left: 22%;
}

#imgPopUp {
  width: 20%;
}

#navPopUp {
  width: 100%;
  margin-top: 6%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.btnPopUp {
  color: black;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: background-color 0.3s, color 0.3s linear;
}
.btnPopUp:hover {
  box-shadow: 0.75rem 0.75rem 0.75rem rgba(0, 0, 0, 0.1), -0.625rem -0.625rem 0.625rem white;
}

#confirmarPopUp:hover {
  background-color: #75a32a;
  color: white;
}

#cancelarPopUp:hover {
  background-color: #611f1f;
  color: white;
}

/*     GERENCIAMENTO DO PERFIL      */
#perfilNav {
  width: 21%;
}

#usuarioTitle {
  display: flex;
  width: 90%;
  align-items: baseline;
}

#usuarioImg {
  width: 35%;
}

.perfilNavTabs {
  display: flex;
  align-items: center;
  width: 80%;
  height: 6dvh;
  padding-left: 2%;
  margin: 5% 0;
  border-left: rgba(128, 128, 128, 0.39) solid;
  user-select: none;
  cursor: pointer;
}

#perfil {
  width: 78%;
  padding: 0.5%;
}

#perfilInfoBox {
  display: none;
  align-items: normal;
  flex-wrap: wrap;
  visibility: hidden;
  opacity: 0;
  border: 0.2rem solid lightgrey;
  border-radius: 0.3rem;
  transition: visibility 0s, opacity 0.2s linear;
}

.perfilInfo {
  width: 45%;
  margin: 2%;
  font-size: large;
}

#campoEdicaoPerfil {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}

.btnsEdicaoPerfil {
  color: black;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.25rem;
  transition: background-color 0.3s, color 0.3s linear;
}
.btnsEdicaoPerfil:hover {
  background-color: #75a32a;
  color: white;
}

#btnExcluirPerfil {
  margin: 1% 2% 2% 2%;
}
#btnExcluirPerfil:hover {
  background-color: #611f1f;
  color: white;
}

#perfilHistPedBox {
  display: none;
  align-items: normal;
  visibility: hidden;
  opacity: 0;
  border: 0.2rem solid lightgrey;
  border-radius: 0.3rem;
  transition: visibility 0s, opacity 0.2s linear;
}

#pedidos-box {
  width: 100%;
  padding: 2%;
}

.pedido-rows {
  text-align: center;
  max-height: fit-content;
}
.pedido-rows:nth-child(odd) {
  background-color: none;
}
.pedido-rows:nth-child(even) {
  background-color: #d5d5d5;
}

.pdf-td {
  width: 15%;
  align-items: center;
}

.pdf-icon {
  width: 40%;
}

#perfilCupomBox {
  display: none;
  align-items: normal;
  visibility: hidden;
  opacity: 0;
  border: 0.2rem solid lightgrey;
  border-radius: 0.3rem;
  transition: visibility 0s, opacity 0.2s linear;
}

#appAd-box {
  display: flex;
  margin: auto;
  width: 100%;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

#appDownload-box {
  margin: 5%;
  width: 10%;
}

footer {
  background: white;
  padding: 0.625rem;
  text-align: center;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 500px) {
  #popUp {
    width: 90%;
    top: 37%;
    left: 1%;
    font-size: large;
  }
  #senhaPopUp {
    min-height: 2rem;
    font-size: 1rem;
  }
  main {
    display: flex;
    justify-content: center;
  }
  #perfilNav {
    display: flex;
    width: 100%;
    justify-content: baseline;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 5%;
  }
  #usuarioTitle {
    width: 100%;
  }
  #usuarioImg {
    width: 20%;
  }
  .perfilNavTabs {
    margin: auto;
    width: 20%;
    font-size: large;
  }
  #perfilTitle {
    display: none;
  }
  #perfil {
    width: 100%;
    font-size: larger;
  }
  #campoEdicaoPerfil {
    width: 100%;
    justify-content: center;
    margin-top: 5%;
  }
  #perfilInfoBox {
    padding-right: 3%;
  }
  .perfilInfo > input {
    width: 100%;
    min-height: 1.5rem;
    font-size: 1rem;
  }
  #pedidos-box {
    padding: 0%;
  }
  .pdf-td {
    width: 60%;
    display: flex;
    justify-content: center;
  }
  #appDownload-box {
    width: 19%;
  }
}
@media screen and (min-width: 501px) and (max-width: 800px) {
  #popUp {
    width: 90%;
    top: 37%;
    left: 1%;
    font-size: large;
  }
  #senhaPopUp {
    min-height: 2rem;
    font-size: 1rem;
  }
  main {
    display: flex;
    justify-content: center;
  }
  #perfilNav {
    display: flex;
    width: 100%;
    justify-content: baseline;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 5%;
  }
  #usuarioTitle {
    width: 100%;
  }
  #usuarioImg {
    width: 15%;
  }
  .perfilNavTabs {
    margin: auto;
    width: 30%;
    font-size: large;
  }
  #perfilTitle {
    display: none;
  }
  #perfil {
    width: 100%;
    font-size: larger;
  }
  #campoEdicaoPerfil {
    width: 100%;
    justify-content: center;
    margin-top: 5%;
  }
  .perfilInfo > input {
    min-height: 2rem;
    font-size: 1rem;
  }
  #appDownload-box {
    width: 15%;
  }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {
  #popUp {
    width: 60%;
    top: 35%;
    left: 15%;
    font-size: large;
  }
  #senhaPopUp {
    min-height: 2rem;
    font-size: 1rem;
  }
  #perfilNav {
    width: 25%;
  }
  #perfil {
    width: 74%;
  }
  #usuarioTitle {
    width: 100%;
  }
  .perfilInfo > input {
    min-height: 1.5rem;
    font-size: 1rem;
  }
  #appDownload-box {
    width: 12%;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1700px) {
  #senhaPopUp {
    min-height: 1.3rem;
    font-size: 1rem;
  }
  .perfilInfo > input {
    min-height: 1.3rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1701px) and (max-width: 1920px) {
  #appDownload-box {
    width: 8%;
  }
  #senhaPopUp {
    min-height: 1.2rem;
    font-size: 1rem;
  }
  .perfilInfo > input {
    min-height: 1.2rem;
    font-size: 1rem;
  }
  .pdf-td {
    width: 10%;
  }
}

/*# sourceMappingURL=estiloPerfil.css.map */
