body {
    font-family: Inria Sans, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

header {
    background: #1F6124;
    color: #8A3C29;
    padding: 0.625rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-box{
    display: flex;
    width: 15%;
    height: 10vh;
    align-items: center;
}

#logo-obj{
    width: 25%;
}

#logoTitle{
    -webkit-text-stroke: 0.21875rem black;
    paint-order: stroke fill;
}

nav {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

a {
    text-decoration: none;
    color: white;
}

#search-box {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#inputSearch {
    width: 80%;
    padding: 0.5rem;
    font-size: medium;
    color: #727273;
    background-color: #f0f0f0;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
}

#inputSearch::placeholder { 
    text-align: center;
    font-size: medium;
    color: #9e9fa0;
}

#inputSearch:focus {
    outline: none;
}

.menuDrop {
    position: relative;
    display: inline-block;
}

#btnMenu {
    background: #28A745;
    color: white;
    padding: 0.625rem 1.25rem;
    border: 0.1rem solid #28A745;
    cursor: pointer;
    border-radius: 0.25rem;
}

#btnMenu:hover {
    border: 0.1rem solid #28A745;
    background-color: #1F6124;
}

#menuDropBG {
    visibility: hidden;
    opacity: 0;  
    position: absolute;
    background-color:#1F6124;
    width: 210%;
    border-radius: 4%;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2);
    z-index: 1;
    transition: visibility 0s, opacity 0.2s linear;
}

#menuDropBG a {
    display: block;
    color: white;
    padding: 0.75rem 1rem;
    text-decoration: none;
}

#menuDropBG a:hover {
    color: #8A3C29;
}

.botaoNav {
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#pontosUser{
    background-color: #8A3C29;
    color: #f0f0f0;
    padding: 0.55rem 0.55rem;
    border: 0.1rem solid #611f1f;
    border-radius: 0.5rem;
}

.carrinho {
    background-color: #75a32a;
    color: white;
    border: 0.1rem solid #75a32a;
}

.carrinho:hover {
    color: white;
    border: 0.1rem solid #75a32a;
    background-color: #1F6124;
}

main {
    margin: 5%;
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#popUp {
    /*display: flex;*/
    display: none;
    visibility: hidden;
    opacity: 0;
    width: 50%;
    padding: 0% 3% 3%;
    position: absolute;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 0.2rem solid #611f1f;
    border-radius: 0.5rem;
    top: 20%;
    left: 22%;
}

#imgPopUp {
    width: 20%;
}

#navPopUp {
    width: 100%;
    margin-top: 6%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.btnPopUp {
    color: black;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.3s, color 0.3s linear;
}

.btnPopUp:hover {
    box-shadow: 0.75rem 0.75rem 0.75rem rgba(0,0,0,0.1),
    -0.625rem -0.625rem 0.625rem #f9f9f9;
}

#confirmarPopUp:hover {
    background-color: #75a32a;
    color: white;
}

#cancelarPopUp:hover {
    background-color: #611f1f;
    color: white;
}

#perfilNav {
    width: 21%;
}

#usuarioTitle {
    display: flex;
    width: 90%;
    align-items:baseline;
}

#usuarioImg {
    width: 35%;
}

.perfilNavTabs {
    display: flex;
    align-items: center;
    width: 80%;
    height: 6dvh;
    padding-left: 2%;
    margin: 5% 0;
    border-left: white solid;
    user-select: none;
    cursor: pointer;
}

#perfil {
    width: 78%;
    padding: 0.5%;
}

#perfilInfoBox {
    display: none;
    align-items: normal;
    flex-wrap: wrap;
    visibility: hidden;
    opacity: 0;
    border: 0.2rem solid #f1f1f1;
    border-radius: 0.3rem;
    transition: visibility 0s, opacity 0.2s linear;
}

.perfilInfo {
    width: 45%;
    margin: 2%;
    font-size: large;
}

#campoEdicaoPerfil {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.btnsEdicaoPerfil {
    color: black;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.3s, color 0.3s linear;
}

.btnsEdicaoPerfil:hover {
    box-shadow: 0.75rem 0.75rem 0.75rem rgba(0,0,0,0.1),
    -0.625rem -0.625rem 0.625rem #f9f9f9;
}

#btnEditarPerfil:hover {
    background-color: #75a32a;
    color: white;
}

#btnExcluirPerfil {
    margin: 1% 2% 2% 2%;
}

#btnExcluirPerfil:hover {
    background-color: #611f1f;
    color: white;
}

#perfilCupomAtivoBox {
    display: none;
    align-items: normal;
    flex-wrap: wrap;
    visibility: hidden;
    opacity: 0;
    border: 0.2rem solid #f1f1f1;
    border-radius: 0.3rem;
    transition: visibility 0s, opacity 0.2s linear;
}

.cupom {
    width: 100%;
    height: 10%;
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    border: 0.2rem solid #f1f1f1;
    border-radius: 0.3rem;
    font-size: large;
}

.molduraCupom {
    max-width: 22%;
}

.imgCupom {
    border-radius: 1rem;
}

.codCupomAtivo {
    color: #1F6124;
}

.codHistCupom {
    color: #611f1f;
}

.histPonto {
    width: 100%;
    height: 10%;
    margin: 1%;
    display: flex;
    align-items: center;
    gap: 8%;
    flex-wrap: nowrap;
    border: 0.2rem solid #f1f1f1;
    border-radius: 0.3rem;
    font-size: large;
}

.molduraHist {
    width: 15%;
}



#perfilHistCupomBox {
    display: none;
    align-items: normal;
    flex-wrap: wrap;
    visibility: hidden;
    opacity: 0;
    border: 0.2rem solid #f1f1f1;
    border-radius: 0.3rem;
    transition: visibility 0s, opacity 0.2s linear;
}

#perfilHistPontoBox {
    display: none;
    align-items: normal;
    flex-wrap: wrap;
    visibility: hidden;
    opacity: 0;
    border: 0.2rem solid #f1f1f1;
    border-radius: 0.3rem;
    transition: visibility 0s, opacity 0.2s linear;
}

footer {
    background: #f1f1f1;
    padding: 0.625.rem;
    text-align: center;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 950px) {
    header {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    #respons1 {
        width: 100%;
    }

    #respons2 {
        width: 100%;
    }

    nav {
        gap: 2px;
    }
}