body {
    font-family: Inria Sans, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h1{
    -webkit-text-stroke: 0.21875rem black;
    paint-order: stroke fill;
}

header {
    background: #1F6124;
    color: #8A3C29;
    padding: 0.625rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-box{
    display: flex;
    width: 15%;
    height: 10vh;
    align-items: center;
}

#logo-obj{
    width: 25%;
}

nav {
    display: flex;
    gap: 1.25rem;
}

a {
    text-decoration: none;
    color: white;
}

#search-box {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#inputSearch {
    width: 80%;
    padding: 0.5rem;
    font-size: medium;
    color: #727273;
    background-color: #f0f0f0;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
}

#inputSearch::placeholder { 
    text-align: center;
    font-size: medium;
    color: #9e9fa0;
}

.menuDrop {
    position: relative;
    display: inline-block;
}

#btnMenu {
    background: #28A745;
    color: white;
    padding: 0.625rem 1.25rem;
    border: 0.1rem solid #28A745;
    cursor: pointer;
    border-radius: 0.25rem;
}

#btnMenu:hover {
    border: 0.1rem solid #28A745;
    background-color: #1F6124;
}

#menuDropBG {
    visibility: hidden;
    opacity: 0;  
    position: absolute;
    background-color:#1F6124;
    width: 210%;
    border-radius: 4%;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2);
    z-index: 1;
    transition: visibility 0s, opacity 0.2s linear;
}

#menuDropBG a {
    display: block;
    color: white;
    padding: 0.75rem 1rem;
    text-decoration: none;
}

#menuDropBG a:hover {
    color: #8A3C29;
}

.botaoNav {
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.login, .registrar {
    background-color: #28A745;
    color: white;
    border: 0.1rem solid #28A745;
}

.login:hover, .registrar:hover {
    color: white;
    border: 0.1rem solid #28A745;
    background-color: #1F6124;
}

#pontosUser{
    background-color: #8A3C29;
    color: #f0f0f0;
    padding: 0.55rem 0.55rem;
    border: 0.1rem solid #611f1f;
    border-radius: 0.5rem;
}

.carrinho {
    background-color: #75a32a;
    color: white;
    border: 0.1rem solid #75a32a;
}

.carrinho:hover {
    color: white;
    border: 0.1rem solid #75a32a;
    background-color: #1F6124;
}

footer {
    background: #f1f1f1;
    padding: 0.625.rem;
    text-align: center;
}


.respons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main {
    margin: 5%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.produtos {
    width: 14.6%;
    padding: 1%;
    margin: 1.6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.1em 0.4em 0.5em rgba(128, 128, 128, 0.39);
    border: 0.1em solid rgba(128, 128, 128, 0.39);
    border-radius: 0.75rem;
}

.imgProdutos {
    border-radius: 1rem;
}

.molduraProdutos {
    width: 120%;
}

.descricaoProdutos {
    text-align: center;
}

.btnProdutos {
    display: flex;
    width: 90%;
    height: 5vh;
    justify-content: center;
    align-items: center;
    font-size: large;
    background-color: #1F6124;
    border-radius: 0.375rem;
    color: white;
    user-select: none;
    cursor: pointer;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 950px) {
    header {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    #respons1 {
        width: 100%;
    }

    #respons2 {
        width: 100%;
    }

    nav {
        gap: 2px;
    }
}