
@font-face {
    font-family: inriaSans;
    src: url(InriaSans-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inriaSans, Arial, sans-serif;
}

body { 
    background-color: #f4f3ef;
    background-image: url(imagens/imgfunfo3.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; 
    margin: 0 auto;
    box-sizing: border-box;
}
p{
    color: #643c00;
}

.logo {
    background-color:#228B22; 
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 50%;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.login-box {
    width: 100%;
    text-align: center;
}

.login-box h2 {
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
  
}

.input-group input:focus {
    border-color: #004d40;
}

.btn-entrar {
    width: 100%;
    padding: 12px;
    background-color: #228B22; 
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-entrar:hover {
    background-color: #00392f;
}

@media (max-width: 768px) {
    .login-container {
        width: 90%; 
        padding: 20px;
    }
}