@use 'mixins' as mix;
@use 'variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inria Sans, Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: $marrom;
}

html, body {
    overflow-x: hidden;
}

a {
    color:  $verde;
    text-decoration: none;
    transition: color 0.5s;

    &:hover {
        color: $marrom;
    }
}

#solicitacao-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $fundo1;
    border-radius: 0.75rem;
    box-shadow: -0.125rem 0.3125rem 0.5rem $sombra1;
    width: 100%;
    max-width: 40%; 
    margin: 0 auto;
    margin-bottom: 2%;
    box-sizing: border-box;
    transition: background-color 0.5s;
}



#logo-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    margin-top: 20%;
    margin-bottom: 2%;

    #logo-obj {
        width: 50%;
        margin-bottom: 3%;
    }

    h2 {
        color: $branco;
        font-weight: bold;
        text-shadow:
            -2px -2px 0 $preto,
            2px -2px 0 $preto,
            -2px  2px 0 $preto,
            2px  2px 0 $preto;
    }
}

#solicitacao-form {
    width: 100%;
    text-align: center;
    padding: 5%;
}

.input-group {
    margin-bottom: 5.5%;
    text-align: left;

    label {
        display: block;
        font-size: 0.9rem;
        color: $cinzaEscuro;
        margin-bottom: 0.3rem;
        transition: color 0.5s;
    }

    input {
        width: 100%;
        padding: 2.5%;
        border-radius: 0.375rem;
        border: 0.125rem solid $cinzaClaro;
        outline: none;
    }
}

.camposForm {
    border-style: solid;
    border-color: $cinzaClaro;
}

#btnEnviar {
    @include mix.buttonStyle("login");
}

/* MODO DARK */


@media screen and (max-width: 500px) {

    #logo-box {
        margin-top: 80%;
        margin-bottom: 15%;

        #logo-obj {

            width: 150%;
            margin-bottom: 10%;
        }

        h2 {

            width: 200%;
        }
    }

    #solicitacao-container {
        max-width: 90%;
    }
}
@media screen and (min-width: 501px) and (max-width: 800px) {

    #logo-box {
        margin-top: 80%;
        margin-bottom: 10%;

        #logo-obj {

            width: 120%;
            margin-bottom: 10%;
        }

        h2 {

            width: 200%;
        }
    }

    #solicitacao-container {
        max-width: 70%;
    }
}
@media screen and (min-width: 801px) and (max-width: 1024px) {

    #logo-box {
        margin-top: 50%;
        margin-bottom: 5%;

        #logo-obj {

            width: 80%;
            margin-bottom: 10%;
        }

        h2 {

            width: 200%;
        }
    }

    #solicitacao-container {
        max-width: 50%;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1700px) {

    #logo-box {

        margin-top: 30%;
        margin-bottom: 3%;
    }

    #solicitacao-container {
        max-width: 35%;
    }
}
@media screen and (min-width: 1701px) and (max-width: 1920px) {

    #logo-box {

        margin-top: 10%;
        margin-bottom: 3%;
    }

    #solicitacao-container {
        max-width: 25%;
    }
}