@use 'mixins' as mix;
@use 'variables' as *;

html {
    scroll-behavior: smooth;
}

body {
    font-family: Inria Sans, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: $degrade1;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-color 0.5s;
    min-height: 100vh;
}

html, body {
    overflow-x: hidden;
}

#cartContainer {
    margin-top: 0%;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    right: 0rem;
    flex-direction: column;
    justify-content: center;
    transition: right 0.2s, margin-top 0.2s ease;

    &::-webkit-scrollbar {
        width: 0.5rem;
        background-color: $marrom;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $verdeClaro;

        &:hover {
            background-color: $verde;
        }
    }
}

.cardRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.carrinhoCard {
    display: flex;
    width: 30cap;
    background-color: $branco;
    border-radius: 0.5rem;
    margin: 3%;
}

.imgRemoverCard {
    width: 15%;
}

.cardContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: $branco;
    width: fit-content;
    font-size: small;
    border-radius: 0.5rem;
    text-align: center;

    img, p {
        flex: 0 0 50%;
    }

    .molduraProdutos {
        height: fit-content;
        max-width: 50%;

        figure {
            margin: 1rem;
            height: fit-content;

            img {
                height: 100%;
                border-radius: 1rem;
            }
        }
    }

    > p {
        min-width: 50%;
    }

    > .precoProduto {
        font-weight: bold;
    }
}

#pedidoBox {
    display: flex;
    width: 100%;
    min-height: min-content;
    margin-top: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //background-color: $branco;
    color: $branco;
    bottom: 0%;
    transition: transform 0.3s ease;
}

#btnPedido {
    @include mix.buttonStyle("home");
}

#btnPedido {
    width: 80%;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 500px) {
    
    #cartContainer {
        width: 100%;
        right: 0rem;
        top: -62.5rem;
        transition: top 0.2s, margin-top 0.2s ease;
        padding-top: 8%;
        margin-top: 20%;
    }

    .carrinhoCard {
        width: 80%;
    }

    #pedidoBox {
        width: 100%;
        right: 0%;
    }
}

@media screen and (min-width: 501px) and (max-width: 810px) {

    #cartContainer {
        width: 100%;
        right: 0rem;
        top: -100rem;
        transition: top 0.2s, margin-top 0.2s ease;
        margin-top: 20%;
    }

    .carrinhoCard {
        width: 60%;
    }

    #pedidoBox {
        width: 100%;
        right: 0%;
    }
}

@media screen and (min-width: 811px) and (max-width: 900px) {

    #cartContainer {
        margin-top: 16.3%;
    }

    #pedidoBox {
        width: 20%;
        right: 0%;
        bottom: 0%;
    }
}

@media screen and (min-width: 951px) and (max-width: 1024px) {

    #cartContainer {
        margin-top: 14.7%;
    }

    #pedidoBox {
        width: 20%;
        right: 0%;
        bottom: 0%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1700px) {

    #pedidoBox {
        bottom: -30%;
    }
}

@media screen and (min-width: 1701px) and (max-width: 1920px) {

    #cartContainer {
        margin-top: 6.5%;
        right: -23.3rem;
    }
    #pedidoBox {
        bottom: -32%;
        width: 20%;
        right: 0%;
    }
}
