@use 'mixins' as mix;
@use 'variables' as *;

@page{
	margin: 100px 50px ;
}

body{
    font-family: Inria Sans, Arial, sans-serif;
	margin:0px;
	padding:0px;
}

#cabecalho{
	position: fixed; 
	left: 0;
	right:0;
	top: -80px; 
	height: 100px; 
	padding: 10px;
	color: $branco;
	background: $marromClaro;
	text-align: center;
}

.rodape{
	position: fixed; 
	left: 0;
	right:0;
	bottom:0;
	background: $marromClaro;
	color: $branco;
	text-align: center;
	padding: 5px 5px;
}

.imgRodape{
	width: 10%;
}

.imgtbl {
	width: 50%;
    border-radius: 1rem;
}

h1{
	text-align: center;
}

table {

    width: 100%;
	border: 1px solid $marromClaro;
	padding: 5px;
	margin-top: 10%;

    
    th {
	    background: $marromClaro;
	    color: $branco;
	    padding:5px;
    }

    tr td {
        text-align: center;
        vertical-align: middle;
        padding: 5px;
    }

    tr:nth-child(even) td {
        background: $cimento;
    }
}
