@use 'mixins' as mix;
@use 'variables' as *;

body {
    font-family: Inria Sans, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    transition: background-color 0.5s;
    overflow-x: hidden;
}

html, body {
    overflow-x: hidden;
}

h1 {
    -webkit-text-stroke: 0.21875rem $preto;
    paint-order: stroke fill;
}

.respons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main {
    width: 90%;
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    h1 {
        color: $cinzaEscuro;
    }
}

#fileira-1, #fileira-2 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3%;
}

footer {
    background: $branco;
    padding: 0.625rem;
    text-align: center;
}

#colorir1 {
    -webkit-text-stroke: 0rem $cinzaEscuro;
}

#btnEnviar input {
    background-color: $verde;
    color: $branco;
}

/*Container do Contato*/
.form-container {
    background-color: $fundo2;
    padding: 3.3%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px $sombra2;
    width: 31%;
    float: left;
    margin-right: 5%;

    h2 {
        margin-top: 0;
        color: $cinzaEscuro;
    }
}

.form-group {
    margin-bottom: 2.7%;

    label {
        display: block;
        margin-bottom: 5px;
        color: $cinzaEscuro;
    }

    input, textarea, select {
        width: 100%;
        padding: 2.7%;
        border: 1px solid $cinzaClaro;
        border-radius: 4px;
        font-size: 1rem;
        resize: vertical;
    }

    textarea {
        height: 10vh;
    }

    button {
        @include mix.buttonStyle("");
    }

}

.color1 {
    font-weight: lighter;
}

/*Container da Ajuda*/
.helpcontainer {
    width: 47%;
    margin-left: 5%;
    padding: 2%;
    background-color: $fundo2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    float: right;
    display: flex;

    h1, h2 {
        color: $cinzaEscuro;
    }

    h1 {
        text-align: center;
        margin-top: 0;
    }
}

.faq-section {
    margin-top: 2%;

    h2 {
        margin-top: 0;
    }
}

.faq-item {
    margin-bottom: 1.5%;
}

.faq-question {
    font-weight: bold;
    cursor: pointer;
    color: $cinzaEscuro;

    &:hover {
        color: $verde;
    }
}

.faq-answer {
    display: none;
    margin-top: 5px;
    color: $cinzaEscuro;
}



/* RESPONSIVIDADE */
@media screen and (max-width: 500px) {

    #janela {
        margin: 0;
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    #colorir2, #colorir3 {
        display: none;
    }

    #helpcontainer {
        margin: 0;
        margin-bottom: 10%;
        width: 90%;
    }

    #faq-section {
        padding: 5%;
    }

    #colorir4 {
        text-align: center;
        margin-top: 3%;
        padding-right: 3%;
    }

    #form-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 0%;
        padding-left: 3%;
        padding-bottom: 5%;
        margin: auto;
        margin-bottom: 15%;
        width: 90%;
    }

    .form-group {
        > input, > select, > textarea {
            width: 90%;
        }
    }

    #btnEnviar input {
        margin: auto;
        margin-top: 5%;
        width: 95%;
        padding-right: 3%;
    }
}

@media screen and (min-width: 501px) and (max-width: 800px) {

    #janela {
        margin: 0;
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    #colorir2, #colorir3 {
        display: none;
    }

    #helpcontainer {
        margin: 0;
        margin-bottom: 10%;
        width: 90%;
    }

    #faq-section {
        padding: 5%;
    }

    #colorir4 {
        text-align: center;
        margin-top: 3%;
        padding-right: 3%;
    }

    #form-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 0%;
        padding-left: 3%;
        padding-bottom: 5%;
        margin: auto;
        margin-bottom: 15%;
        width: 90%;
    }

    input {
        min-height: 0.7rem;
        font-size: 0.9rem;
    }

    .form-group {
        > input, > select, > textarea {
            width: 90%;
        }
    }

    #btnEnviar {
        margin: auto;
        margin-top: 5%;
        width: 80%;
        padding-right: 3%;
    }
}

@media screen and (min-width: 801px) and (max-width: 1024px) {

}

@media screen and (min-width: 1701px) and (max-width: 1920px) {

}