@use 'variables' as *;

body {
    font-family: Inria Sans, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    transition: background-color 0.5s;
}

html, body {
    overflow-x: hidden;
}

main {
    margin: 5%;
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/*      POP UP         */

#popUp {
    display: none;
    visibility: hidden;
    opacity: 0;
    width: 50%;
    padding: 0% 3% 3%;
    position: absolute;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: $branco;
    border: 0.2rem solid $marrom;
    border-radius: 0.5rem;
    top: 20%;
    left: 22%;
}

#imgPopUp {
    width: 20%;
}

#navPopUp {
    width: 100%;
    margin-top: 6%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.btnPopUp {
    color: $preto;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.3s, color 0.3s linear;

    &:hover {
        box-shadow: 0.75rem 0.75rem 0.75rem $sombra5,
        -0.625rem -0.625rem 0.625rem $branco;
    }
}

#confirmarPopUp {

    &:hover {
        background-color: $verdeLima;
        color: $branco;
    }
}

#cancelarPopUp {

    &:hover {
        background-color: $marrom;
        color: $branco;
    }
}

/*     GERENCIAMENTO DO PERFIL      */

#perfilNav {
    width: 21%;
}

#usuarioTitle {
    display: flex;
    width: 90%;
    align-items:baseline;
}

#usuarioImg {
    width: 35%;
}

.perfilNavTabs {
    display: flex;
    align-items: center;
    width: 80%;
    height: 6dvh;
    padding-left: 2%;
    margin: 5% 0;
    border-left: $branco solid;
    user-select: none;
    cursor: pointer;
}

#perfil {
    width: 78%;
    padding: 0.5%;
}

#perfilInfoBox {
    display: none;
    align-items: normal;
    flex-wrap: wrap;
    visibility: hidden;
    opacity: 0;
    border: 0.2rem solid $cinzaClaro;
    border-radius: 0.3rem;
    transition: visibility 0s, opacity 0.2s linear;
}

.perfilInfo {
    width: 45%;
    margin: 2%;
    font-size: large;
}

#campoEdicaoPerfil {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.btnsEdicaoPerfil {
    color: $preto;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.3s, color 0.3s linear;

    &:hover {
        background-color: $verdeLima;
        color: $branco;
    }
}

#btnExcluirPerfil {
    margin: 1% 2% 2% 2%;

    &:hover {
        background-color: $marrom;
        color: $branco;
    }
}

#perfilHistPedBox {
    display: none;
    align-items: normal;
    visibility: hidden;
    opacity: 0;
    border: 0.2rem solid $cinzaClaro;
    border-radius: 0.3rem;
    transition: visibility 0s, opacity 0.2s linear;
}

#pedidos-box {
    width: 100%;
    padding: 2%;
}

.pedido-rows {
    text-align: center;
    max-height: fit-content;

    &:nth-child(odd) {
        background-color: none;
    }

    &:nth-child(even) {
        background-color: $tableRow2;
    }
}

.pdf-td {
    width: 15%;
    align-items: center;
}

.pdf-icon {
    width: 40%;
}

#perfilCupomBox {
    display: none;
    align-items: normal;
    visibility: hidden;
    opacity: 0;
    border: 0.2rem solid $cinzaClaro;
    border-radius: 0.3rem;
    transition: visibility 0s, opacity 0.2s linear;
}

#appAd-box {
    display: flex;
    margin: auto;
    width: 100%;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#appDownload-box {
    margin: 5%;
    width: 10%;
}


footer {
    background: $branco;
    padding: 0.625rem;
    text-align: center;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 500px){

    #popUp {
        width: 90%;
        top: 37%;
        left: 1%;
        font-size: large;
    }

    #senhaPopUp {
        min-height: 2rem;
        font-size: 1rem;
    }

    main {
        display: flex;
        justify-content: center;
    }

    #perfilNav {
        display: flex;
        width: 100%;
        justify-content:baseline;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 5%;
    }

    #usuarioTitle {
        width: 100%;
    }

    #usuarioImg {
        width: 20%;
    }

    .perfilNavTabs {
        margin: auto;
        width: 20%;
        font-size: large;
    }

    #perfilTitle {
        display: none;
    }

    #perfil {
        width: 100%;
        font-size: larger;
    }

    #campoEdicaoPerfil {
        width: 100%;
        justify-content: center;
        margin-top: 5%;
    }

    #perfilInfoBox {
        padding-right: 3%;
    }

    .perfilInfo > input {
        width: 100%;
        min-height: 1.5rem;
        font-size: 1rem;
    }

    #pedidos-box {
        padding: 0%;
    }

    .pdf-td {
        width: 60%;
        display: flex;
        justify-content: center;
    }
    
    #appDownload-box {
        width: 19%;
    }

}
@media screen and (min-width: 501px) and (max-width: 800px) {

    #popUp {
        width: 90%;
        top: 37%;
        left: 1%;
        font-size: large;
    }

    #senhaPopUp {
        min-height: 2rem;
        font-size: 1rem;
    }

    main {
        display: flex;
        justify-content: center;
    }

    #perfilNav {
        display: flex;
        width: 100%;
        justify-content:baseline;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 5%;
    }

    #usuarioTitle {
        width: 100%;
    }

    #usuarioImg {
        width: 15%;
    }

    .perfilNavTabs {
        margin: auto;
        width: 30%;
        font-size: large;
    }

    #perfilTitle {
        display: none;
    }

    #perfil {
        width: 100%;
        font-size: larger;
    }

    #campoEdicaoPerfil {
        width: 100%;
        justify-content: center;
        margin-top: 5%;
    }

    .perfilInfo > input {
        min-height: 2rem;
        font-size: 1rem;
    }
    
    #appDownload-box {
        width: 15%;
    }

}
@media screen and (min-width: 801px) and (max-width: 1024px) {

    #popUp {
        width: 60%;
        top: 35%;
        left: 15%;
        font-size: large;
    }

    #senhaPopUp {
        min-height: 2rem;
        font-size: 1rem;
    }

    #perfilNav {
        width: 25%;
    }

    #perfil {
        width: 74%;
    }

    #usuarioTitle {
        width: 100%;
    }

    .perfilInfo > input {
        min-height: 1.5rem;
        font-size: 1rem;
    }
    
    #appDownload-box {
        width: 12%;
    }

}
@media screen and (min-width: 1025px) and (max-width: 1700px) {

    #senhaPopUp {
        min-height: 1.3rem;
        font-size: 1rem;
    }

    .perfilInfo > input {
        min-height: 1.3rem;
        font-size: 1rem;
    }

}
@media screen and (min-width: 1701px) and (max-width: 1920px) {

    #appDownload-box {
        width: 8%;
    }

    #senhaPopUp {
        min-height: 1.2rem;
        font-size: 1rem;
    }

    .perfilInfo > input {
        min-height: 1.2rem;
        font-size: 1rem;
    }

    .pdf-td {
        width: 10%;
    }

}

