@use 'variables' as *;

@mixin preventUserSelectText{
    html {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
}

@mixin backgroundImage($imgName, $tipo) {
    $url: "http://localhost/src/imgs/";
    @if $tipo == "icon" {
        $url: $url+"icons/";
    }
    background-image: url($url+$imgName);
}

@mixin bodyWithBackgroundImage($imgName) {
    body {
        background-color: $cinzaClaro;
        @include backgroundImage($imgName, "imagem");
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@mixin buttonStyle($ambiente) {
    @if $ambiente == "home" {
        display: flex;
        width: 90%;
        height: 5vh;
        margin-bottom: 10%;
        justify-content: center;
        align-items: center;
        font-size: large;
        background-image: $degrade2;
        border-radius: 0.375rem;
        color: $branco;
        user-select: none;
        cursor: pointer;
    
        &:hover {
            background-image: $degrade3;
        }
    
        &:active {
            background-image: $degrade4;
        }
    } @else if $ambiente == "login" {
        width: 100%;
        padding: 3.2%;
        background-color: $verde; 
        color: $branco;
        border: none;
        border-radius: 0.375rem;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.5s;
    
        &:hover {
            background-color: $marrom;
        }
    } @else {
        width: 100%;
        padding: 0.625rem;
        background-color: $verde;
        color: $branco;
        border: none;
        border-radius: 0.25rem;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.5s;

        &:hover {
            background-color: $marrom;
        }
    }
}

@mixin filterStyle($index) {
    $corPrimaria: $preto;
    $corSecundaria: $preto;

    @if $index == 0 {
        $corPrimaria: #7e7e7e;
        $corSecundaria: 0.1rem solid #6d6c6c;
    } @else if $index == 1 {
        $corPrimaria: #fd9b9b;
        $corSecundaria: 0.1rem solid #fd8d8d;
    } @else if $index == 2 {
        $corPrimaria: #ffdb99;
        $corSecundaria: 0.1rem solid #fcd48a;
    } @else if $index == 3 {
        $corPrimaria: #99b9ff;
        $corSecundaria: 0.1rem solid #7ba4fd;
    }

    background: $corPrimaria;
    border: 0.1rem solid $corSecundaria;
}

@mixin colorMode($cor1, $cor2, $cor3, $cor4, $tipo) {

    &.#{$tipo} {
        background-color: $cor1;
        color: $cor2;

        #inputSearch {
            background-color: $cor1;
            color: $cor2;

            &::placeholder {
                color: $cor2;
            }
        }

        .produtos {
            background-color: $cor3;
            color: $cor2;
        }

        .filtros {
            color: $cor2;
        }

        #popUp {
            background-color: $cor1;
            border-color: $cor2;

            #imgPopUp {

                img {
                    border-radius: 1rem;
                }
            }

            .btnPopUp {
                color: $cor2;

                &:hover {
                    box-shadow: none;
                }
            }
        }

        #perfilInfoBox, #perfilHistPedBox, #perfilCupomBox {
            border-color: $cor3;
        }

        .btnsEdicaoPerfil {
            color: $cor2;
        }

        .pedido-rows {

            &:nth-child(even) {
                background-color: $cor3;
            }
        }

        .form-container, .helpcontainer {
            background-color: $cor3;
            color: $cor2;

            h2 {
                color: $cor2;
            }

            label {
                color: $cor2;
            }
        }

        .faq-question {
            color: $cor2;

            &:hover {
                color: $cor4;
            }
        }

        .faq-answer {
            color: $cor2;
        }

        .carrinhoCard {
            background-color: $cor1;
            color: $cor2;

            .cardContent {
                background-color: $cor1;
            }
        }
    }
}

@mixin contrastMode() {
    @include colorMode($cinzaEscuro, $branco, $cimento, $marrom, "contrast");
}

@mixin deuteraMode() {
    @include colorMode($deuteranopia1, $deuteranopia2, $deuteranopia3, $deuteranopia4, "deutera");
}

@mixin protaMode() {
    @include colorMode($protanopia1, $protanopia2, $protanopia3, $protanopia4, "prota");
}

@mixin tritaMode() {
    @include colorMode($tritanopia1, $tritanopia2, $tritanopia3, $tritanopia4, "trita");
}