// CORES

$vermelho: red;
$vermelhoClaro: rgb(199, 85, 85);
$vermelhoTerra: brown;
$azulClaro: cornflowerblue;
$verde: #228B22;
$verdeEscuro: #2c311b;
$verdeClaro: rgb(59, 221, 59);
$verdeLimao: #28A745;
$verdeLima: #75a32a;
$marrom: #611f1f;
$marromClaro: #8A3C29;
$preto: black;
$branco: white;
$cinza: gray;
$cinzaClaro: lightgrey;
$cinzaEscuro: #333;
$cimento: rgba(128, 128, 128, 0.39);

$fundoHeader: #1F6124;
$fundoCupom: #f2f2f2;
$fundo1: rgb(240, 238, 238);
$fundo2: #e5ffdb;

$sombra1: rgb(149, 149, 149);
$sombra2: rgba(0, 0, 0, 0.252);
$sombra3: rgb(0, 74, 4);
$sombra4: rgb(74, 0, 0);
$sombra5: rgba(0,0,0,0.1);

$degrade1: linear-gradient(#572519, #703121);
$degrade2: linear-gradient(#1F6124, #123b15);
$degrade3: linear-gradient(#8A3C29, #572519);
$degrade4: linear-gradient(#b54f36, #8a3b28);
$degrade5: linear-gradient(#ffffff, #cacaca);

$borda1: 0.0625rem solid #ccc;

$tableRow2: #d5d5d5;

$deuteranopia1:	#1a1a1a;
$deuteranopia2: #f5f5f5;
$deuteranopia3: #4f3c1c;
$deuteranopia4: rgba(180, 180, 180, 0.25);

$protanopia1: #1a1a1a;
$protanopia2: #f5f5f5;
$protanopia3: #355c2a;
$protanopia4: rgba(200, 200, 200, 0.25);

$tritanopia1: #1a1a1a;
$tritanopia2: #f5f5f5;
$tritanopia3: #5a3620;
$tritanopia4: rgba(160, 160, 160, 0.25);
